<p style="color: green"><%= notice %></p>

<h1>Wiki Posts</h1>

<div id="wiki-posts">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% @wiki_posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, wiki_post_path(post) %></td>
          <td><%= post.created_at.strftime('%B %d, %Y') %></td>
          <td><%= post.updated_at.strftime('%B %d, %Y') %></td>
          <td><%= post.author %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<%= link_to "New Wiki Post", new_wiki_post_path %>